body {
    background-color:#fee2e9;
}
.article-img {
    width: 100%;
    height:auto;
    border-radius:10px;
    display: block;
    margin-bottom: 16px;
    margin-top: 16px;
}

.portfolio-card.vertical-img {
    height: 340px!important;
}

.heart {
    position: fixed;
    top: 0.5vh;
    width: 25px;
    height: auto;
    /* font-size: 40px; */
    transform: translateY(0);
    animation: fall 3s linear forwards;
    opacity: 0.5;
  }
  
  @keyframes fall {
    to {
      transform: translateY(101vh);
    }
  }

  @media screen and (max-width: 600px) {
    .label-location {
      font-size: 11px;
    }
  }